<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  
  <title>Эрудит</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
  @RenderSection("Head", false)
</head>
<body>
  @RenderBody()

  @RenderSection("Scripts", required: false)
</body>
</html>
